---
import type { Props } from "@astrojs/starlight/props";
import DefaultFooter from "@astrojs/starlight/components/Footer.astro";
---

<DefaultFooter {...Astro.props}>
  <slot />
</DefaultFooter>

<div class="k-footer">
  <p>
    Made with ♥️ by <a
      href="https://jramma.com"
      target="_blank"
      rel="noopener noreferrer">jramma.com</a
    >
  </p>
</div>

<style>
  .k-footer {
    padding-top: 2rem;
    text-align: center;
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
  }
  .k-footer a {
    color: var(--sl-color-text-accent);
    text-decoration: none;
  }
  .k-footer a:hover {
    text-decoration: underline;
  }
</style>
